* {
    font-family: Cambria, Georgia, serif;
}

html, body {
    height:100%;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: auto;
    font-size: 100% !important;
}

.page, .page p,.page td,.page th,.page input,.page select,.page textarea
 {
    font-size: 12pt !important;
}

.disable-clicks {
    pointer-events: none;
}

#leftBar {
    padding: 10px 0;
    margin-top: 4px;
    border-radius: 3px;
    height: 100%;
    width: 260px;
}

div#orgUnitTree {
    width: 258px;
    height: 60%;
    font-size: 12pt;
}

#mainPage {
    margin: 70px 5px 5px 270px;
}

.not-for-screen {
    display: none;
}

@media print {
    .not-for-screen {
        display: block;
    }
    body, html {
        width: 100% !important;
        height: auto !important;
        overflow-y: hidden; /* Hide vertical scrollbar */
        overflow-x: hidden; /* Hide horizontal scrollbar */
    }

    ::-webkit-input-placeholder { /* WebKit browsers */
        color: white !important;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: white !important;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: white !important;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: white !important;
    }

    .select2-chosen {
        color: white !important;
    }

    #header, #leftBar, .hideInPrint {
        display: none !important;
    }

    .select2-arrow, .ui-select-toggle {
        display: none !important;
    }
}

.category-menu {
    background-color: #fff;
    height: 100vh;
}

.menu-title  {
    margin: 8px;
}

.menu-spacing {
    margin-top: 30px;
}

.vertical-spacing {
    margin-top: 20px;
}

.long-vertical-spacing {
    margin-top: 30px;
}

.vertical-center {
    vertical-align: middle !important;
    display: table-cell;
}

.dhis2-table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    /*background-color: #dfe9f4 !important;*/
    /*background-color: #b8c8e0 !important;*/
    background-color: #fff !important;
    cursor: pointer;
}

.dhis2-table-striped-border tr th {
    border: 1px solid #cad5e5;
}

.dhis2-table-striped-border tr td {
    border: 1px solid #cad5e5;
}

.dhis2-table-striped-border > tbody > tr:nth-child(odd)> td, .dhis2-table-striped > tbody > tr:nth-child(odd)> th {
    background-color: #ebf0f6;
}

.listTable td {
    padding: 5px;
}

.font-18 {
    font-size: 18px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-12 {
    font-size: 12px !important;
}

.center {
    text-align: center !important;
}

.bold {
    font-weight: bold !important;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.small-horizontal-spacing{
    margin-left: 5px;
}

.horizontal-spacing {
    margin-right: 20px;
}

.long-horizontal-spacing {
    margin-left: 40px;
}

.remove-horizontal-spacing {
    margin-left: -25px;
}

.small-vertical-spacing{
    margin-top: 5px !important;
}

.vertical-spacing{
    margin-top: 20px;
}

.selection-group{
    margin: 0 auto;
    display: flex;
    color: #000;
}

.green-info-area {
    border: 1px solid #a4d2a3;
    background-color: #d0eBd0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.blue-info-area {
    border: 1px solid #729fcf;
    background-color: #BBD1EE !important;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.blue-info-header-area {
    border: 1px solid #729fcf;
    background-color: #BBD1EE !important;
    border-radius: 3px;
}

.report-filter {
    border-color: #BBD1EE;
}

.custom-panel {
    color: #000;
    background-color: #BBD1EE;
    border-color: #BBD1EE;
    border-style: none;
    border-radius: 0;
    border-style: none !important;
    border-radius: 0 !important;
    webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    padding: 6px 0;
}

.report-filter-no-radius {
    background-color: #d0eBd0;
}

.remove-bottom-margin {
    margin-bottom: 0 !important;
}

.yellow-info-area {
    border: 1px solid #ad892e;
    background-color: #faebc4;/*#F4CD6C;*/
    padding: 10px;
    border-radius: 3px;
}

.yellow-background {
    background-color: #faebc4 !important;
}

.green-background {
    background-color: #d0eBd0 !important;
    color: #000;
}

.add-small-left-padding {
    margin-left: 5px !important;
}

.horizontal-menu {
    color: #fff;
}

.select-list-buttons {
    padding-top: 25px;
}

.select-list-labels {
    padding-bottom: 5px;
    color: #333;
}

.multiSelectAvailable option,
.multiSelectSelected option {
    padding: 5px;
    line-height: 1.428571429;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    cursor: pointer;
}

.multiSelectAvailable, .multiSelectSelected {
    width: 100%;
    height: 160px !important;
    overflow: auto;
}

.form-control-checkbox {
    height: 24px;
    width: 24px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.form-control-ui-select {
    width:100%;
    padding: 20px 6px;
    border-radius: 4px;
}

.select2-container .select2-choice {
    padding: 5px !important;
    color: #555 !important;
}

.form-control{
    padding: 5px !important;
    color: #555 !important;
}

.bottomright {
    position:absolute;
    bottom:0;
    right: 0;
    margin:5px;
}

.nav-tabs.nav-justified > li {
    padding-bottom: 0 !important;
}
.nav-tabs.nav-justified > li > a {
    margin-left: 2px ;
    top: 1px;
    border: none;
}
.nav-tabs.nav-justified > li:first-child > a {
    margin-left: 0;
}
.nav-tabs.nav-justified > li > a:link {
    background: #eee;
}

.cursor-pointer {
    cursor: pointer;
}

.spacer {
    margin: 15px;
}

.milestone-info-area {
    /*border: 1px solid #cad5e5;
    padding: 10px;
    border-radius: 3px;*/
    margin-top: 10px;
}

.info-icon {
    color: #428bca;
    font-size: 1.4em;
}

.menu-vertical-spacing {
    margin-top: 60px;
}

.ou-search-left-bar {
    margin-top: 30px;
    padding: 2px;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=date]::-webkit-inner-spin-button, input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-pending {
    background-color: #fffe8c !important;
}

.input-error {
    background-color: #ff8a8a !important;
}

.input-success {
    background-color: #b9ffb9 !important;
}

.comment-modal-window .modal-dialog {
    width: 80%;
}

.info-modal-window .modal-dialog {
    width: 40%;
}